.background {
  position: absolute;
  background-color: white;
  width: 35vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 5%;
}

.pos {
  position: absolute;
  top: 25px;
  left: 25px;
}

.noSpace {
  margin: 0;
  padding: 0;
}

.card {
  list-style: none;
}

.fbImage {
  background-color: gray;
  width: 60px;
  height: 60px;
  margin-right: 25px;
}

.fbInfo {
  width: 250px;
}

.flexLayout {
  display: flex;
}

#slider {
  position: absolute;
  width: 35vw;
  height: 100vh;
  background: blue;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slidein {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
