.background {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 35vw;
  height: 100vh;
  background: white;
  border-radius: 0 30px 30px 0;
  padding: 5%;
  transform: translateX(-85%);
  -webkit-transform: translateX(-85%);
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  pointer-events: all;
}

.pos {
  position: absolute;
  top: 25px;
  left: 25px;
}

.noSpace {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
}

.card {
  list-style: none;
}

.fbImage {
  background-color: gray;
  width: 60px;
  height: 60px;
  margin-right: 25px;
}

.fbInfo {
  width: 250px;
}

.flexLayout {
  display: flex;
}

.slidein {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slideout {
  animation: slide-out 0.55s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-87%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-87%);
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 767px) {
  .background {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 50vh;
    background: white;
    border-radius: 30px 30px 0 0;
    /* overflow: hidden; */
    padding: 5%;
    transform: translateY(25%);
    -webkit-transform: translateY(25%);
    display: flex;
    flex-direction: column-reverse;
  }

  .slidein {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }

  .slideout {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
  }

  @keyframes slide-in {
    100% {
      transform: translateY(-100%);
    }
  }

  @-webkit-keyframes slide-in {
    100% {
      -webkit-transform: translateY(-100%);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(-46%);
    }
  }

  @-webkit-keyframes slide-out {
    0% {
      -webkit-transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(-46%);
    }
  }
}
