.foodBankNameLink :hover {
    color: rgb(49, 143, 237);
    text-decoration: underline;


}


.readmore {
    color: rgb(49, 143, 237);

}

.markerBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.markerBtn img {
    width: 20px;
    height: 28px;
}