.category {
    margin: 20px;
}

.eventBlock {
    display: grid;
    grid-template-columns: 35% 55%;
    gap: 10%;
    align-items: center;
    width: 90%;
    margin: 20px;

}

.eventDateAndIamge {
    display: flex;
    flex-direction: row;
    height: 200px;
}



.eventImage {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.eventDate {
    position: absolute;
    background-color: white;
    width: 42px;
    height: 42px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    left: 4%;
    margin: 3%;
}


.eventTime {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB800;
    border-radius: 10px;
    width: 150px;
    height: 25px;
}



.eventTitle :hover {
    color: rgb(49, 143, 237);
    text-decoration: underline;
}

.readmore {
    color: rgb(49, 143, 237);

}